body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    background-color: #8bbcf1;
}

.quiz-container {
    padding: 20px 40px;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    font-size: 24px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.quiz-container:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/* .quizDiv{
    
} */
.option label{
    display: flex;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
}